:root {
    --primary: #001a33;
    /*navbar top, titres, buttontop*/
    --secondary: rgba(239, 239, 239, 0.909);
    /* fond de cards*/
    --pinkaccent: #F28CBA;
    --pinkaccenthover: #EC5197;
    --blueaccent: #7ab3eb;
    /* + texte blanc */
    --blueaccenthover: #2180DE;
    /* + texte blanc */
    --grayaccent: #e6e6e6;
    /* + texte noir*/
    --grayaccenthover: #cccccc;
    /* + texte noir*/
    --bg: #f8fafc;
    --text: #707173;

    --font-body: 'Nunito Sans', sans-serif;
    --font-title: 'Space Grotesk', sans-serif;
    --font-code: 'JetBrains Mono', monospace;



    /* --- FOND HERO --- */
    --rainbow:
        radial-gradient(circle at 60% 10%, rgb(1, 8, 20), transparent 20%),
        radial-gradient(circle at 15% 35%, rgba(48, 78, 126, 0.45), transparent 30%),
        radial-gradient(circle at 75% 20%, rgba(1, 0, 68, 0.4), transparent 30%),
        radial-gradient(circle at 70% 85%, rgba(105, 1, 100, 0.4), transparent 25%),
        radial-gradient(circle at 50% 60%, rgba(253, 253, 253, 0.30), transparent 30%),
        linear-gradient(135deg, #020617, #0f172a);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

i {
    color: white;
}



.badges {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.badge {
    flex-direction: row;
    justify-content: baseline;
    padding: 4px 10px;
    border-radius: 800px;
    width: auto;
    min-height: 10%;
    max-height: 10%;
    line-height: 1.5;
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 0.3px;
    color: black;
    border: solid 3px;
    border-color: var(--badge-color);
    background-color: var(--bg);
}

.badge img {
    width: 20px;
    height: auto;
    max-height: 12px;
    align-self: baseline;
}

.badge i {
    color: var(--badge-color);
}

body {
    font-family: var(--font-body);
    background: var(--bg);
    color: var(--text);
    overflow-y: scroll;
    padding-bottom: 60px;
    /* Espace pour le footer */
}

button {
    all: unset;
    /* Réinitialise tous les styles (bordure, background, etc.) */
}

.btn,
.btn_code,
.btn_back,
.btn_download {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 0px;
    height: 40px;
    min-height: 40px;
    width: 150px;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.3),
        inset 2px 2px 1px rgba(255, 255, 255, 0.8);
    color: var(--primary);
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-decoration: none;
    margin-top: 1%;
}

.btn {
    background-color: var(--pinkaccent);
    color: white;
}

.btn:hover {
    background-color: var(--pinkaccenthover);
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.btn_code {
    background-color: var(--blueaccent);
    max-height: 25px;
    font-size: 0.8rem;
    font-family: var(--font-code);
    color: white;
    margin-top: 4px;
}

.btn_code:hover {
    cursor: pointer;
    background-color: var(--blueaccenthover);
    color: white;
    text-decoration: none;
}

.btn_back {
    border: solid 2px #d9d9d9;
    background-color: var(--grayaccent);
    margin-top: 4px;
}

.btn_back:hover {
    cursor: pointer;
    background-color: var(--grayaccenthover);
    text-decoration: none;
}

.btn_download {
    background-color: blue;
    max-height: 25px;
    font-size: 0.8rem;
    color: white;
}

.btn_download:hover {
    cursor: pointer;
    background-color: darkblue;
    text-decoration: none;
}



.card {
    position: relative;
    perspective: 1000px;
    height: 750px;
}

.card,
.stack-card {
    background: var(--secondary);
    padding: 1.5rem;
    border-radius: 8px;
    flex: 1 1 450px;
    /* max-width : 450px; */
    transition: transform 0.2s ease;
}


.stack-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    /* display: flex;
    justify-content: space-evenly; */
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    /* Safari/Chrome */
    -moz-backface-visibility: hidden;
    /* Firefox */
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
}

.card-back {
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    /*align-items: space-evenly;*/
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
    width: 100%;
    height: 100%;

}

.card-back>* {
    flex-shrink: 0;
    word-wrap: break-word;
    max-width: 100%;
    margin-bottom: 0.5rem;
}


.card-back p {
    font-size: 0.9rem;
}


.project-img {
    width: 100%;
    object-fit: contain;
    height: auto;
    max-height: 300px;
    border-radius: 15px;
    margin-bottom: 6%;
    margin-top: 6%;
}

#contact {
    background-color: var(--bg);
    margin: auto;
    /* width : fit-content; */
    /* width : 100vw;
    max-width: 100vw;
    height: 50px; */

}

#contact h2 {
    color: var(--primary);
}

#contact a,
#contact i {
    text-decoration: none;
    color: var(--primary);
}

.cv_color {
  background-color: #7ab3eb;
}

.diplomes {
    font-size: 0.9em;
    color: var(--primary);
}

.diplomes i {
    color: var(--primary);
}

.display_row,
.display_column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* align-items: center; alignement vertical */
    align-self: center;
    /*alignement horizontal*/
    width: 100%;
    /* occupe toute la largeur disponible sur la page */
}

.display_column {
    flex-direction: column;
}


.disponibilite {
    margin-top: 5px;
    margin-bottom: 1%; 
    font-size: 0.9rem;
    text-align: center;
    color : black;
}


footer {
    display: flex;
    justify-content: center;
    text-align: center;
    position: fixed;
    bottom: 0;
    color: white;
    /*background-color: var(--pinkaccent);*/
    width: 100%;
    height: 50px;
}

footer p,
footer a {
    align-content: center;
    color: white;
    text-decoration: none;
    font-family: var(--font-body);
}

.formatted-text {
    white-space: pre-wrap;
}

h2 {
    /* display: block; */
    max-width: 1200px;
    width: 100%;
    color: var(--primary);
    text-align: left;
    /* margin-top: 5px; */
    font-family: var(--font-title);
}

h3 {
    text-align: left;
    width: 100%;
    font-family: var(--font-title);
}


.hero {
    position: relative;
    height: 96vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: var(--rainbow);
    color: white;
}

.hero::before {
    content: "";
    position: absolute;
    inset: -20%;

    background: var(--rainbow);
    filter: blur(60px);
    animation: rainbowMovement 5s ease-in-out infinite alternate;
    /* animation: rainbowColorChange 12s ease-in-out infinite alternate; */
    z-index: 0;
    pointer-events: none;
}

.hero>* {
    position: relative;
    z-index: 1;
}

@keyframes rainbowMovement {
    0% {
        transform: translate3d(0, 0, 0) scale(1);
    }

    50% {
        transform: translate3d(50px, -50px, 0) scale(1.2);
    }

    100% {
        transform: translate3d(-20px, 20px, 0) scale(1);
    }
} 





/* 
@keyframes rainbowColorChange {
    0% {
        background-position: 50% 50%;
        filter: hue-rotate(0deg);
    }

    25% {
        background-position: 75% 25%;
        filter: hue-rotate(60deg);
    }

    50% {
        background-position: 25% 75%;
        filter: hue-rotate(120deg);
    }

    75% {
        background-position: 75% 75%;
        filter: hue-rotate(180deg);
    }

    100% {
        background-position: 50% 50%;
        filter: hue-rotate(360deg);
    }
}
 */


.hero p {
    color: white;
    margin-top : -10px;
    margin-bottom: 10px; 
}

/* .hero-slogan {
    display: flex;
    color: white;
    line-height: 2em;
    font-weight: bold;
    animation: slideWords 6s infinite;
}

.hero-slogan span {
    justify-content: flex-end;
    font-size: 23px;
}

.hero-slogan span::before {
    content: "Analyser, Concevoir, Développer";
    color: var(--blueaccent);
    padding-right: 8px;
    animation: slogan 4s infinite
} */


.hero-slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    line-height: 2em;
    font-weight: bold;
    margin-top : 2%;
}

.hero-slogan span {
    font-size: 25px;
}

.hero-slogan span::before {
    content: "Analyser";
    color: var(--blueaccent);
    animation: wordCycle 6s infinite;
}

@keyframes wordCycle {
    0%   { opacity: 0; content: "Analyser"; }
    16%   { opacity: 1; content: "Analyser"; }
    33%  {opacity: 0; content: "Analyser";}
    
    34%  {opacity: 0; content: "Concevoir";}
    50%  { opacity: 1; content: "Concevoir"; }
    63%  { opacity: 0; content : "Concevoir";}

    64%  { opacity: 0; content: "Développer"; }
    75%  { opacity: 1; content: "Développer"; }
    100% { opacity: 0; content: "Développer"; }
}







html {
    scroll-behavior: smooth;
}


/************************ NAVBAR ****************************/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--primary);
    height: 50px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav-links {
    display: flex;
    gap: 10px;
}

.nav-container.active {
    justify-content: flex-end;
    transition: 0.8s ease-in, opacity 0.8s ease-in-out;
}

.nav-links.active {
    display: flex;
    background-color: var(--primary);
    /*background-color: rgba(202, 202, 202, 0.7);*/
    margin-top: -10px;
    gap: 2px;
    z-index: 1;
    width: 100vw;
}

.nav-links li {
    text-align: center;
    margin: 8px 0;
    list-style: none;
}

.nav-left {
    display: flex;
    justify-content: flex-start;
    color: white;
    font-weight: bold;
    font-size: 0.8em;
    align-items: center;
    width: 70%;
    padding-left: 1%;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1%;
    width: 30%;
}

.nav-left a,
.nav-right a {
    font-family: "GothamRegular", sans-serif;
    color: white;
    padding: 15px;
    /* transition: transform 0.2s ease; */
    text-decoration: none;
}

.burger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.burger span {
    margin-right: 10px;
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 50px;
}

/************************ END NAVBAR ***************************************/
.mini_img {
 max-width : 90px;
 height : auto;
}

p {
    font-size: 16px;
    color: var(--text);
}

.photo-profil {
    max-width: 130px;
    width: 100%;
    height: auto;
    border-radius: 30%;
    object-fit: cover;
    /* margin-bottom: 1.1rem; */
    /*box-shadow: 0 6px 20px rgba(0,0,0,0.15);*/
}

.portfolio_color {
	background-color: #F28CBA;
}

.section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 1200px;
    margin: auto;
    padding: 1%;
    column-gap: 30px;
    row-gap: 10px;
    align-items: stretch;
}

#projects {
    row-gap: 30px;
}

#projects > h2 { 
    margin-bottom: -20px;
}

#experiences > h2 { 
    margin-top: 20px;
}


.stack-card {
    flex: 1 1 200px;
    /* width: auto; */
    min-height: 13%;
}

.stack-card h4 {
    font-size: 0.9em;
    margin-top: 3px;
}

.statut {
    font-size: 0.8em;
}

/*******************Stack Cards de Détails et Summary*******************/
.stack-card summary {
    list-style: none;
    cursor: pointer;
    color: var(--primary);
    position: relative;
}

.stack-card summary::before {
    content: "▸";
    /* position: absolute; */
    display: inline-block;
    padding-right: 5px;
    transition: transform 0.25s ease;
}

.stack-card[open] summary::before {
    transform: rotate(90deg);
}


.stack-card[open] p {
    animation: fadeIn 0.25s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/******************************************************/
@keyframes slogan {

    0%,
    33% {
        content: "Analyser";
    }

    34%,
    65% {
        content: "Concevoir";
    }

    66%,
    100% {
        content: "Développer";
    }
}

/************** MEDIA QUERIES   ************************/

@media (max-width: 768px) {

    .burger {
        display: flex;
    }

    #contact {
        flex-direction: column;
        column-gap: 2px;
    }

    .card,
    .stack-card {
        width: 100%;
        padding: 4%;
        /*margin : 1%;*/
    }

    nav {
        position: relative;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        padding: 20px 0;
    }

    .nav-container.active {
        opacity: 1;
        transition: 0.5s ease-in, opacity 0.8s ease-in-out;
    }

    .nav-links.active {
        display: flex;
        z-index: 9999;
    }
}

@media /*(hover: none) and*/ (pointer: coarse) {

    .btn_code:active,
    #topButton:active,
    #topButton:active * {
        transform: scale(0.90);
        transition: transform 0.1s ease;
    }
}

@media (orientation: landscape) and (max-height: 500px) {
    .photo-profil {
        width: auto;
        height: 80px;
    }
    
    .hero-slogan {
        font-size :0.7rem;
    }

    
}

/************** END MEDIA QUERIES   ************************/

#topButton {
    position: fixed;
    bottom: 90px;
    right: 30px;
    width: 50px;
    height: 50px;
    border: solid 2px var(--primary);
    border-radius: 15px;
    background-color: var(--pinkaccent);
    color: var(--primary);
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    /*	transition: opacity 0.5s ease, transform 0.5s ease;  */
    z-index: 9999;
}

#topButton.show {
    opacity: 1;
    visibility: visible;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);
}

/*
    #topButton:hover {
        transform: translateY(-3px);
  }

*/
.secret-console {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    color: #00ff00;
    font-family: monospace;
    padding: 40px;
    z-index: 9999;
}

.console-content {
    white-space: pre-line;
    font-size: 18px;
}

#photo-profil {
    transition: transform 0.1s ease;
}

#photo-profil.tap {
    transform: scale(0.97);
}

/*
@media (max-width: 768px) and (orientation: landscape) {
    .photo-profil {
        max-width: 80px;
    }
}
*/


.intro {

    text-align:center;

    max-width:700px;

    margin:auto;

}

.timeline {
    margin-top:60px;
    border-left:4px solid var(--secondary-color);
    padding-left:30px;
}

.timeline-item {

    margin-bottom:50px;

}



.timeline-date {

    font-weight:bold;

    color:var(--secondary-color);

    margin-bottom:10px;

}



.timeline-card {

    background:white;

    padding:25px;

    border-radius:15px;

    box-shadow:0 10px 25px rgba(0,0,0,.1);

}

.project-preview {

    text-align:center;

    padding:40px;

    background:white;

    border-radius:20px;

}


.logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-family: "Audiowide", sans-serif;
	letter-spacing: 3%;
	font-size: 7em;
	
	animation:
	hologram 5s infinite;

		

}

.chevron {
	-webkit-text-stroke: 0.2px white;
	color: var(--pinkaccent);
	font-weight: 600;
	font-size: 10rem;
}

.ev {
	color: white;
}

.mj {
	color: var(--pinkaccent);
}
@keyframes hologram {

	0%,100% {
		opacity:1;
		filter:
		drop-shadow(0 0 5px var(--couleur-secondaire));
	}

	50% {
		opacity:.85;
		filter:
		drop-shadow(0 0 20px var(--couleur-secondaire));
	}
}
